* {
    margin: 0;
    padding: 0;
}

body {
    background: #01041B;
}
.header-fiap {
    display: flex;
    flex-direction: row;
}

header {
    display: flex;
    font-family: 'Montserrat';
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

.header-items {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: space-between;
    gap: 2rem;
}

.header-auth {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}

main {
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-between;
}

.main-img img{
    height: 100%;
}

.main-text{
    color: #FFFFFF;
    font-size: 1.4rem;
}

.main-content-area{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.main-buttons{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 1rem;
}

.right-button{
    background-color: #F21667;
    border: none;
    border-radius: 2.2rem;
    color: #FFFFFF;
    padding: 1.2rem;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 300;
}

.left-button{
    background-color: #410093;
    border: none;
    border-radius: 2.2rem;
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 300;
}

footer {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    border-top:solid 1px #121529;
}
